.footer{
  background-color: $c_gray;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 13px;
    padding: 30px 0;
    @include breakpoint ($laptop){
      justify-content: center;
    }
    @include breakpoint ('380px'){
      font-size: 12px;
    }
  }
  &__copy{
    padding-right: 40px;
    border-right: 1px solid #fff;
    @include breakpoint ($laptop){
      order: 3;
      width: 100%;
      text-align: center;
      border-right: none;
      padding-right: 0;
      margin-top: 20px;
    }
  }
  &__pay{
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #fff;
    @include breakpoint ($laptop){
      padding-left: 0;
    }
    @include breakpoint ($laptop){
      padding-right: 0;
      border-right: none;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__contacts{
    padding-left: 40px;
    @include breakpoint ($laptop){
      padding-left: 0;
    }
  }
  &__link{
    color: #fff;
    text-decoration: none;
    padding: 5px 0 5px 25px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    &:hover, &:focus, &:focus-visible, &:visited{
      color: #fff;
    }
    @include breakpoint ('380px'){
      padding-left: 20px;
    }
    &_qiwi{
      background-image: url("/loremipsum/f/i/icons/qiwi.svg");
      margin-right: 20px;
      @include breakpoint ('380px'){
        margin-right: 5px;
      }
    }
    &_ymoney{
      background-image: url("/loremipsum/f/i/icons/ymoney.svg");
      background-size: 18px;
      margin-right: 20px;
      white-space: nowrap;
      @include breakpoint ('380px'){
        margin-right: 5px;
      }
    }
    &_webmoney{
      background-image: url("/loremipsum/f/i/icons/webmoney.svg");
      white-space: nowrap;
    }
    &_mail{
      background-image: url("/loremipsum/f/i/icons/mail-blue.svg");
      margin-right: 20px;
      @include breakpoint ('380px'){
        margin-right: 5px;
      }
    }
    &_vk{
      background-image: url("/loremipsum/f/i/icons/vk.svg");
    }
  }
}