.blue{
  color: $c_blue;
}
.inputtext{
  height: 48px;
  padding: 10px;
  font-size: 18px;
  border: none;
  transition: 0.3s;
  &:hover, &:focus, &:focus-visible{
    box-shadow: 0px 0px 10px 1px $c_blue;
    border: none;
    outline: none;
  }
}
.inputtext::placeholder {
  color: $c_dark;
}
.inputfile{
  &__input{
    display: none;
  }
  &__label{
    color: $c_dark;
    background-color: #fff;
    padding: 15px 10px 15px 10px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: 0.3s;
    &:before{
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("/loremipsum/f/i/icons/file.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: -4px;
      margin-right: 5px;
    }
    &:hover, &:focus, &:focus-visible{
      box-shadow: 0px 0px 10px 1px $c_blue;
    }
  }
}