.blue-btn{
  background-color: $c_blue;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  @include breakpoint($phone){
    width: 100%;
    margin-bottom: 15px;
  }
  &:hover{
    box-shadow: 0px 0px 10px 1px $c_blue;
  }
  &_small{
    padding: 15px;
    font-size: 13px;
    line-height: 13px;
    min-width: 183px;
  }
  &_big{
    font-size: 17px;
    line-height: 17px;
    padding: 17px;
    min-width: 370px;
    @include breakpoint('410px'){
      min-width: auto;
      max-width: 100%;
    }
  }
}

.white-btn{
  background-color: #fff;
  border-radius: 4px;
  color: $c_dark;
  border: 1px solid $c_dark;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  @include breakpoint($phone){
    width: 100%;
    margin-bottom: 15px;
  }
  &:hover{
    box-shadow: 0px 0px 10px 1px $c_dark;;
  }
  &_small{
    padding: 15px;
    font-size: 13px;
    line-height: 13px;
    min-width: 183px;
  }
  &_big{
    font-size: 17px;
    line-height: 17px;
    padding: 17px;
    min-width: 370px;
    @include breakpoint('410px'){
      min-width: auto;
      max-width: 100%;
    }
  }
}