@font-face{
  font-family: Lato;
  font-display: swap;
  font-stretch: normal;
  src: url("../fonts/Lato.woff2") format("woff2"), url("../fonts/fonts/Lato.woff") format("woff");
}

@font-face{
  font-family: Raleway;
  font-display: swap;
  font-stretch: normal;
  src: url("../fonts/Raleway.woff2") format("woff2"), url("../fonts/Raleway.woff") format("woff");
}
