//FONTS
$fontLato: 'Lato', 'Arial', sans-serif;
$fontRaleway: 'Raleway', 'Arial', sans-serif;

// MEDIA
$laptop: '1200px';
$tablet: '1064px';
$phone: '767px';
//$middlePhone: '490px';
//$smallPhone: '420px';

$c_blue: #3E9CDC;
$c_dark: #10101d;
$c_gray: #3D4050